# фреймворк
Django>=4.1.1,<4.2.0

# для админки
django-jazzmin>=2.2.0,<2.6.0

# для работы с изображениями
pillow>=10.2.0

# эдитор
django-ckeditor>=6.7.0

# транслитерация
pytils>=0.4.1

# для логирования действий
django-admin-logs

# работа с переменными
django-environ

# соединение с БД PostgeSQL
psycopg2-binary

# проверка покрытости тестами
coverage